<div class="body">
  <app-header></app-header>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
            <app-card-name></app-card-name>
            <app-form-jugar></app-form-jugar>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 order-lg-first bg-light mt-3 p-3 contenedores">
            <p class="font-weight-bold h3 text-center">Publicaciones</p>
            <ng-container>
              <ul class="list-group">
                <li class="nav-link" *ngFor="let item of items | async">
                    <app-publicacion></app-publicacion>
                </li>
              </ul>
            </ng-container>
          </div>
      </div>
  </div>
</div>