<div class="bg-light mt-3 p-3 contenedor">
  <p class="font-weight-bold h6 text-center">Empezar a jugar</p><hr>
  <div class="nav-item">
    <form (ngSubmit)="agregar()">
      <textarea name="texto_publi" [(ngModel)]="model.texto_publi" id="texto_publi" rows="3" placeholder="Descripción..." class="form-control"></textarea>
      <div class="form-check mt-3">
        <div class="radio">
          <label for="radio1" class="form-check-label ">
            <input type="radio" id="radio1" [(ngModel)]="model.tipo_publi" name="tipo_publi" value="Quiero jugar" class="form-check-input">Quiero jugar
          </label>
        </div>
        <div class="radio">
          <label for="radio2" class="form-check-label ">
            <input type="radio" id="radio2" [(ngModel)]="model.tipo_publi" name="tipo_publi" value="Sin jugador" class="form-check-input">Sin jugador
          </label>
        </div>
      </div><hr>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success btn-publi" type="submit">
          A jugar
        </button>
      </div>
    </form>
  </div>
</div>
