<div class="bg-light mt-3 p-3 contenedor">
  <p class="font-weight-bold h6 text-center">Empezar a jugar</p><hr>
  <div class="nav-item">
    <form>
      <textarea name="textarea-input" id="textarea-input" rows="3" placeholder="Descripción..." class="form-control"></textarea>
      <div class="form-check mt-3">
        <div class="radio">
          <label for="radio1" class="form-check-label ">
            <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input">Quiero jugar
          </label>
        </div>
        <div class="radio">
          <label for="radio2" class="form-check-label ">
            <input type="radio" id="radio2" name="radios" value="option2" class="form-check-input">Sin jugador
          </label>
        </div>
      </div><hr>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-success" type="submit">
                  A jugar
                  </button>
                </div>
              </form>
            </div>
  </div>
