.registro{
    background-color: #f8f9fa;
    width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 100vh;
}
.fondo{
    background-color: #eeeeee;
    height: 100%;
}
.formulario{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #43c71f; 
}
.formulario input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f8f9fa;
}
::ng-deep .mat-focused .mat-form-field-label, mat-form-field i {
    /*change color of label*/
    color: #43c71f !important;
}  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #43c71f !important;
}   
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #43c71f !important;
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #4e4e4e !important;
}
mat-datepicker-toggle {
    color: #43c71f !important;
}
::ng-deep .mat-datepicker-toggle-default-icon {
    height: 24px !important;
    width: 24px !important;
}
/*.ng-valid[required], .ng-valid.required, .ng-untouched:not()  {
    border-left: 5px solid #42A948 !important; /* green */
/*}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442 !important; /* red */
/*}*/