<nav class="navbar navbar-expand-lg navbar-dark px-md-5">
	<div ngbDropdown class="container-fluid mx-auto py-2 row">
		<a class="navbar-brand text-light col-12 col-lg-2 justify-content-center pl-md-5 mx-0" routerLink="/Inicio"><img src="assets/image/logo.png"></a>

		<div class="col-12 col-sm-6 col-md-5 col-lg-5 py-1 pl-sm-5 pl-md-4 d-flex justify-content-center justify-content-md-end">
			<form class="form-inline">
				<input class="form-control" type="search" placeholder="Nombre usuario" aria-label="Search">
				<button class="btn btn-outline-dark d-sm-none d-md-block ml-2" type="submit">Buscar</button>
			</form>
		</div>

		<div *ngIf="isLogget" class="col-12 col-sm-6 col-md-7 col-lg-5 d-flex justify-content-between justify-content-sm-around justify-content-md-end py-1 pr-sm-5 pr-md-5">
			<a routerLink="/mensajes" class="nav-link text-dark d-flex">
				<i class="material-icons md-28">message</i>
				<span class="ml-2 d-none d-sm-block font-weight-bold">Mensajes</span>
			</a>

			<a class="nav-link text-dark d-flex" mat-button [matMenuTriggerFor]="menu">
				<div mat-card-avatar class="example-header-image mr-0" [ngStyle]="{'background-image': 'url('+urlImagen+')'}"></div>
				<span class="align-items-center font-weight-bold d-none d-md-flex mb-2 ml-md-2 mb-md-0" id="usuario">
					edwinpeligro885
					<i class="material-icons md-24">arrow_drop_down</i>
				</span>
			</a>
		</div>

		<!-- Inicio del Menú de opciones -->
		<mat-menu #menu="matMenu" class="bg-light">
			<mat-card class="example-card bg-light">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+urlImagen+')'}"></div>
					<mat-card-title class="text-dark">{{name}}</mat-card-title>
					<mat-card-subtitle class="text-secondary">{{email}}</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
			
			<div class="dropdown-divider"></div>
			
			<div *ngFor="let item of navLink" routerLink="/{{item.ruta}}" class="dropdown-item" routerLinkActive="active">
				<a routerLink="/{{item.ruta}}" class="text-dark text-decoration-none"><i class="material-icons">{{ item.icono }}</i>{{ item.texto }}</a>
			</div>
					
			<div class="dropdown-divider"></div>

			<div class="dropdown-item">
				<a href="#" class="text-dark text-decoration-none"><i class="material-icons">help</i>Ayuda</a>
			</div>
			<div class="dropdown-item">
				<a (click)="logout()" class="text-dark text-decoration-none"><i class="material-icons">exit_to_app</i>Salir</a>
			</div>
		</mat-menu>
		<!-- Fin del Menú de opciones -->
	</div>
</nav>