nav{
    width: 100%;
    height: 60px;
    background-color: #43c71f;
}

::ng-deep.mat-menu-content {
    width: 280px !important;
}
  
.example-header-image {
    background-size: cover;
}

.dropdown-item a i {
    line-height: 1;
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

.active {
    background-color: #43c71f;
}

.dropdown-toggle::after {
    border-top: none;
}

::ng-deep.mat-button-wrapper {
    width: 100%;
    display: flex;
}

.dropdown-item:hover, .dropdown-item:hover a{
    background-color: #59ff2b;
    cursor: pointer;
    color: whitesmoke !important;
}

.dropdown-item:active {
    background-color: transparent;
    color: black;
}

.dropdown-item:active a {
    background-color: white;
    color: black;
}

.mat-card-header .mat-card-title {
    font-size: 13px;
    font-weight: bold;
}

.mat-card-content, .mat-card-subtitle {
    font-size: 11px;
}

.form-inline {
    flex-flow: row;
}

@media (max-width: 992px) {
  nav{
        height: auto;
        padding: 0 !important;
    }
    .navbar-brand{
        display: flex !important;
        justify-content: center !important;
    }

    .text-dark i {
        color: #343a40;
    }
}