<div class="fondo">
  <div class="container">
    <div class="h-100 d-flex justify-content-center align-items-center">
      <div class="p-3 p-md-5 login" id="inicio-sesion">
        <form class="text-center" >
          <label class="h3 text-dark">INICIO DE <span class="h3 text-success">SESIÓN</span></label>
          <div class="formulario">
            <input id="input-usuario" type="text" placeholder="Nombre de usuario">
          </div>
          <div class="formulario">
            <input id="campo-contraseña" type="password" placeholder="Contraseña">
          </div>
          <div class="d-flex pl-4">
            <label for="checkbox1" class="form-check-label ">
              <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Recordar</label>
          </div>
          <div class="d-flex justify-content-center justify-content-md-between align-items-end mt-1 px-3 row">
            <button (click)="logout()" class="btn btn-success col-12 col-md-4 order-md-2">Ingresar</button>
            <a [routerLink]="['/recuperar']" class="h6 text-success mt-3 mt-md-0">Olvidar contraseña</a>
          </div>
          <div class="pt-4">
            <p class="h6 text-dark">O inicie sesión con</p>
            <div class="d-flex justify-content-between mt-3">
              <a href="#" (click)="loginFacebook()" class="btn btn-primary col-5">
                <span class="fa fa-facebook"></span>      
                Facebook
              </a>
              <a href="#" (click)="loginGoogle()" class="btn btn-danger col-5">
                <span class="fa fa-google"></span>
                Google
              </a>
            </div>
          </div>
          <div class="d-flex flex-column mt-1 mt-md-4">
            <p class="h6 text-dark">No estas registrado? <a [routerLink]="['/registro']" class="text-success text-decoration-none">Crear cuenta</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>