.recuperar{
    background-color: #f8f9fa;
    width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 100vh;
}
.fondo{
    background-color: #eeeeee;
}
.formulario{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #43c71f; 
}
.formulario input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f8f9fa;
}